body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoImg {
  height: 4em;
  width: 6em;
  margin-left: 1em;
}

.item-card {
  width: 18em;
  margin: 1em;
  min-width: 18em;
}

@font-face {
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
}

.navbar-link-main {
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
  color: #860000 !important;
}

.login-background {
  background-image: url('./images/campfire.gif');
  height: 100vh;
  padding: 0;
}

.playerCards {
  color: white;
  border: 100px;
  border-color: red;
  border-radius: 25px;
  padding: 1em;
}

.fightOptions {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;

  background-color: #860000;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;

  cursor: pointer;
}