@font-face {
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {
 max-width: 80%;
 margin-left: 12% !important;
 margin-right: auto !important;
}

.item-card {
  width: 18em;
  margin: 1em;
  min-width: 18em;
}

.no-link {
  text-decoration: none;
  color: white;
}
.no-link:hover{
  color:#860000;
}

.navbar-link-main {
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
  font-size: 30px !important;
}

.main-style {
  font-family: "Alkhemikal";
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
  margin-top: 5rem;
}

.playerCards {
  color: white;
  border: 100px;
  border-color: red;
  border-radius: 25px;
  padding: 1em;
  font-size: 30px;
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
}

.fightOptions {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  background-color: #860000;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;

  cursor: pointer;
}

.form-row {
  background: rgba(245, 245, 245, 0.6);
  border: black;
  border-style: solid;
  height: 70%;
}

.form-header {
  color:#860000;
  text-decoration: underline;
}

.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: black;
}

.label {
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: white;
}

.max {
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}
.health {
  height: 100%;
  background-color: red;

  transition: 0.35s;
}

.fightTextBox {
  text-align: right;
}

.opponentImg {
  background-image: url('./images/dungeon-boss.png');
}

.playerImg {
  background-image: url('./images/megaman-thing.png');
}

.form-style {
  padding: 7rem;
  font-size: 150%;
  color: black;
}

.form-btn {
  margin-top: 2rem;
}

.btn-text {
  font-size: 150%;
}

.fightCard {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: "Alkhemikal";
  src: url("./font/Alkhemikal.ttf");
}